!to reload this file: xrdb -load .Xresources 

! Xft settings {{{
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
Xft.hintstyle: hintslight
! hintstyle: medium means that (for Postscript fonts) we
! position the stems for maximum constrast and consistency
! but do not force the stems to integral widths. hintnone,
! hintslight, and hintfull are the other possibilities.
!}}}

!! Base16 Bright dark 256 {{{ 
!! Scheme: Chris Kempson (http://chriskempson.com)
!#define base00 #000000
!#define base01 #303030
!#define base02 #505050
!#define base03 #b0b0b0
!#define base04 #d0d0d0
!#define base05 #e0e0e0
!#define base06 #f5f5f5
!#define base07 #ffffff
!#define base08 #fb0120
!#define base09 #fc6d24
!#define base0A #fda331
!#define base0B #a1c659
!#define base0C #76c7b7
!#define base0D #6fb3d2
!#define base0E #d381c3
!#define base0F #be643c
!*.foreground: base05
!*.background: base00
!*.cursorColor: base05
!*.color0: base00
!*.color1: base08
!*.color2: base0B
!*.color3: base0A
!*.color4: base0D
!*.color5: base0E
!*.color6: base0C
!*.color7: base05
!*.color8: base03
!*.color9: base08
!*.color10: base0B
!*.color11: base0A
!*.color12: base0D
!*.color13: base0E
!*.color14: base0C
!*.color15: base07
!! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
!! use 'shell' template to set these if necessary
!*.color16: base09
!*.color17: base0F
!*.color18: base01
!*.color19: base02
!*.color20: base04
!*.color21: base06
!! }}}

!! Molokai theme {{{
!*xterm*background: #101010
!*xterm*foreground: #d0d0d0
!*xterm*cursorColor: #d0d0d0
!*xterm*color0: #101010
!*xterm*color1: #960050
!*xterm*color2: #66aa11
!*xterm*color3: #c47f2c
!*xterm*color4: #30309b
!*xterm*color5: #7e40a5
!*xterm*color6: #3579a8
!*xterm*color7: #9999aa
!*xterm*color8: #303030
!*xterm*color9: #ff0090
!*xterm*color10: #80ff00
!*xterm*color11: #ffba68
!*xterm*color12: #5f5fee
!*xterm*color13: #bb88dd
!*xterm*color14: #4eb4fa
!*xterm*color15: #d0d0d0 
!! }}}

! xterm settings {{{
xterm*termName: xterm-256color
xterm*iconName: Terminal
xterm*eightBitInput:    false
xterm*cursorBlink:      true
xterm*cursorOffTime:    600
xterm*cursorOnTime:     600
xterm*cursorUnderLine:  false
xterm*faceName: DejaVu Sans Mono for Powerline
xterm*faceSize: 8
xterm*metaSendsEscape:  true
xterm*title:    Terminal
xterm*utf8:      true
xterm*utf8Title: true
xterm*locale: true
xterm*geometry: 110x30
xterm*borderLess: true
xterm*scrollBar: false
xterm*saveLines: 65535
xterm*bellIsUrgent: true
xterm*visualBell: true
XTerm*VT100*translations: #override\nShift Ctrl <KeyPress> v:insert-selection(CLIPBOARD)\nShift Ctrl <KeyPress> c:select-set(CLIPBOARD)
xterm*VT100*pointerMode: 2
!}}}

! URXVTconfig {{{
URxvt*termName:                       rxvt-unicode-256color
URxvt*geometry:                       110x30
! scrollbar style: rxvt (default), plain (most compact), next, or xterm
URxvt*scrollstyle:                    plain
URxvt*scrollBar:                      false
! URxvt*thickness:                      number
! URxvt*transparent:                    false
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
! URxvt*.shading: 110
! URxvt*tintColor:                      color
! URxvt*shading:                        number
URxvt*urgentOnBell:                   true
URxvt*visualBell:                     true 
URxvt*cursorBlink:                    true
! URxvt*pointerBlank:                   boolean
URxvt*font: xft:DejaVu Sans Mono for Powerline:pixelsize=11
URxvt*boldFont: xft:DejaVu Sans Mono for Powerline:bold:pixelsize=11
URxvt*italicFont: xft:DejaVu Sans Mono for Powerline:italic:pixelsize=11
URxvt*boldItalicFont: xft:DejaVu Sans Mono for Powerline:italic:pixelsize=11
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
URxvt*title:                          Terminal
URxvt*iconName:                       Terminal 
URxvt*saveLines:                      65535
URxvt*borderLess:                     false
URxvt.borderColor:                    #000000
URxvt.internalBorder:                 0
! URxvt*lineSpace:                    number
URxvt*letterSpace:                    -1
! Hide the mouse pointer:
URxvt.pointerBlank: true
! URxvt.pointerBlankDelay: number [default 2, secods]

! plugins:
! URxvt*perl-lib:                       ~/.urxvt
URxvt*perl-eval:                      perl-eval
! fullscreen depends on wmctrl
! fontsize depends on xorg-xlsfonts, xorg-xrdb
URxvt*perl-ext-common: default,matcher,fullscreen,clipboard,font-size
URxvt*perl-ext:                       string

! clipboard access
URxvt*iso14755:                       false
URxvt.clipboard.copycmd:  			  xclip -i -selection clipboard
URxvt.clipboard.pastecmd:             xclip -o -selection clipboard
URxvt*keysym.S-C-C:                   perl:clipboard:copy
URxvt*keysym.S-C-V:                   perl:clipboard:paste
 
! url matcher
URxvt*url-launcher:                   xdg-open
URxvt*matcher.pattern.1:              \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt*matcher.button:                 1 

! font size
URxvt*keysym.C-Up:                    perl:font-size:increase
URxvt*keysym.C-Down:                  perl:font-size:decrease
URxvt*keysym.C-S-Up:                  perl:font-size:incglobal
URxvt*keysym.C-S-Down:                perl:font-size:decglobal

! fullscreen 
URxvt*keysym.C-F11:                   perl:fullscreen:switch

! emulate XTerm for proper recognition of key combinations in Vim
! ! original source: https://github.com/sunaku/home/
URxvt.keysym.S-F1 : \033[1;2P
URxvt.keysym.S-F2 : \033[1;2Q
URxvt.keysym.S-F3 : \033[1;2R
URxvt.keysym.S-F4 : \033[1;2S
URxvt.keysym.S-F5 : \033[15;2~
URxvt.keysym.S-F6 : \033[17;2~
URxvt.keysym.S-F7 : \033[18;2~
URxvt.keysym.S-F8 : \033[19;2~
URxvt.keysym.S-F9 : \033[20;2~
URxvt.keysym.S-F10 : \033[21;2~
URxvt.keysym.S-F11 : \033[23;2~
URxvt.keysym.S-F12 : \033[24;2~
URxvt.keysym.M-F1 : \033[1;3P
URxvt.keysym.M-F2 : \033[1;3Q
URxvt.keysym.M-F3 : \033[1;3R
URxvt.keysym.M-F4 : \033[1;3S
URxvt.keysym.M-F5 : \033[15;3~
URxvt.keysym.M-F6 : \033[17;3~
URxvt.keysym.M-F7 : \033[18;3~
URxvt.keysym.M-F8 : \033[19;3~
URxvt.keysym.M-F9 : \033[20;3~
URxvt.keysym.M-F10 : \033[21;3~
URxvt.keysym.M-F11 : \033[23;3~
URxvt.keysym.M-F12 : \033[24;3~
URxvt.keysym.C-F1 : \033[1;5P
URxvt.keysym.C-F2 : \033[1;5Q
URxvt.keysym.C-F3 : \033[1;5R
URxvt.keysym.C-F4 : \033[1;5S
URxvt.keysym.C-F5 : \033[15;5~
URxvt.keysym.C-F6 : \033[17;5~
URxvt.keysym.C-F7 : \033[18;5~
URxvt.keysym.C-F8 : \033[19;5~
URxvt.keysym.C-F9 : \033[20;5~
URxvt.keysym.C-F10 : \033[21;5~
URxvt.keysym.C-F11 : \033[23;5~
URxvt.keysym.C-F12 : \033[24;5~
URxvt.keysym.S-Up : \033[1;2A
URxvt.keysym.S-Down : \033[1;2B
URxvt.keysym.S-Right : \033[1;2C
URxvt.keysym.S-Left : \033[1;2D
! !URxvt.keysym.S-Page_Up : captured by terminal for scrolling
! !URxvt.keysym.S-Page_Down : captured by terminal for scrolling
URxvt.keysym.S-Home : \033[1;2H
URxvt.keysym.S-End : \033[1;2F
! !URxvt.keysym.S-Insert : captured by terminal as paste
URxvt.keysym.S-Delete : \033[3;2~
URxvt.keysym.M-Up : \033[1;3A
URxvt.keysym.M-Down : \033[1;3B
URxvt.keysym.M-Right : \033[1;3C
URxvt.keysym.M-Left : \033[1;3D
URxvt.keysym.M-Page_Up : \033[5;3~
URxvt.keysym.M-Page_Down : \033[6;3~
URxvt.keysym.M-Home : \033[1;3H
URxvt.keysym.M-End : \033[1;3F
URxvt.keysym.M-Insert : \033[2;3~
URxvt.keysym.M-Delete : \033[3;3~
URxvt.keysym.M-S-Up : \033[1;4A
URxvt.keysym.M-S-Down : \033[1;4B
URxvt.keysym.M-S-Right : \033[1;4C
URxvt.keysym.M-S-Left : \033[1;4D
URxvt.keysym.M-S-Page_Up : \033[5;4~
URxvt.keysym.M-S-Page_Down : \033[6;4~
URxvt.keysym.M-S-Home : \033[1;4H
URxvt.keysym.M-S-End : \033[1;4F
URxvt.keysym.M-S-Insert : \033[2;4~
URxvt.keysym.M-S-Delete : \033[3;4~
URxvt.keysym.C-Up : \033[1;5A
URxvt.keysym.C-Down : \033[1;5B
URxvt.keysym.C-Right : \033[1;5C
URxvt.keysym.C-Left : \033[1;5D
URxvt.keysym.C-Page_Up : \033[5;5~
URxvt.keysym.C-Page_Down : \033[6;5~
URxvt.keysym.C-Home : \033[1;5H
URxvt.keysym.C-End : \033[1;5F
URxvt.keysym.C-Insert : \033[2;5~
URxvt.keysym.C-Delete : \033[3;5~
URxvt.keysym.C-S-Up : \033[1;6A
URxvt.keysym.C-S-Down : \033[1;6B
URxvt.keysym.C-S-Right : \033[1;6C
URxvt.keysym.C-S-Left : \033[1;6D
URxvt.keysym.C-S-Page_Up : \033[5;6~
URxvt.keysym.C-S-Page_Down : \033[6;6~
URxvt.keysym.C-S-Home : \033[1;6H
URxvt.keysym.C-S-End : \033[1;6F
URxvt.keysym.C-S-Insert : \033[2;6~
URxvt.keysym.C-S-Delete : \033[3;6~
URxvt.keysym.M-C-Up : \033[1;7A
URxvt.keysym.M-C-Down : \033[1;7B
URxvt.keysym.M-C-Right : \033[1;7C
URxvt.keysym.M-C-Left : \033[1;7D
URxvt.keysym.M-C-Page_Up : \033[5;7~
URxvt.keysym.M-C-Page_Down : \033[6;7~
URxvt.keysym.M-C-Home : \033[1;7H
URxvt.keysym.M-C-End : \033[1;7F
URxvt.keysym.M-C-Insert : \033[2;7~
URxvt.keysym.M-C-Delete : \033[3;7~
URxvt.keysym.M-C-S-Up : \033[1;8A
URxvt.keysym.M-C-S-Down : \033[1;8B
URxvt.keysym.M-C-S-Right : \033[1;8C
URxvt.keysym.M-C-S-Left : \033[1;8D
URxvt.keysym.M-C-S-Page_Up : \033[5;8~
URxvt.keysym.M-C-S-Page_Down : \033[6;8~
URxvt.keysym.M-C-S-Home : \033[1;8H
URxvt.keysym.M-C-S-End : \033[1;8F
URxvt.keysym.M-C-S-Insert : \033[2;8~
URxvt.keysym.M-C-S-Delete : \033[3;8~

! }}}

! vim:foldmethod=marker:foldlevel=0
