/.config/nvim/bundle/*
/.config/nvim/backup/*
/.config/nvim/undo/*
/.config/nvim/.nviminfo
/.config/nvim/.netrwhist
/.config/nvim/session/
/.config/nvim/session/*
/.config/nvim/autoload/plug.vim
/.local/share/nvim/*
